In [1]:
import pandas as pd
import numpy as np
import os

In [8]:
df1 = pd.read_csv('../data/Sheet_1.csv', encoding='utf-8')

In [10]:
df1.head()

,response_id,class,response_text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,response_1,not_flagged,I try and avoid this sort of conflict,NaN,NaN,NaN,NaN,NaN
1,response_2,flagged,Had a friend open up to me about his mental ad...,NaN,NaN,NaN,NaN,NaN
2,response_3,flagged,I saved a girl from suicide once. She was goin...,NaN,NaN,NaN,NaN,NaN
3,response_4,not_flagged,i cant think of one really...i think i may hav...,NaN,NaN,NaN,NaN,NaN
4,response_5,not_flagged,Only really one friend who doesn't fit into th...,,NaN,NaN,NaN,NaN

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   response_id    80 non-null     object
 1   class          80 non-null     object
 2   response_text  80 non-null     object
 3   Unnamed: 3     2 non-null      object
 4   Unnamed: 4     0 non-null      float64
 5   Unnamed: 5     1 non-null      object
 6   Unnamed: 6     0 non-null      float64
 7   Unnamed: 7     1 non-null      object
dtypes: float64(2), object(6)
memory usage: 5.1+ KB

In [12]:
df1.describe()

       Unnamed: 4  Unnamed: 6
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN